header {
  padding: 0;
}

header>.header-nav-menu-container {
  margin: 0; 
}

.hero {
  background-color: #245978;
}

img {
  width: 100%;
}

.title-words {
  margin-top: 100px;
}

.logo {
  position: relative;
}

.logo > img {
  width: 175px;
}

