header {
  padding: 0;
}

header>.header-nav-menu-container {
  margin: 0; 
}

.hero {
  background-color: #2a303c;
}

img {
  width: 100%;
}

.logo {
  position: relative;
}

.logo > img {
  width: 175px;
}

.step {
  padding: 20px;
  text-align: center;
}

.titles {
  margin-top: 35px;
  border-right: solid 1px white;
}

section {
  padding: 20px 20px 35px 20px;
}

.guides a {
  font-size: 2em;
}
